body {
    background-color: #000;
    font-family: "pr";
    color: #fff;
    font-family: "mc";
}

@font-face {
    font-family: "mc";
    src: url("regular.otf") format("opentype");
}

.contain {
    margin: 0 auto;
    padding: 1em 0 3em 0;
}

.contain .top {
    text-align: center;
    margin-bottom: 5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top img {
    padding: 0;
    height: 125px;
    width: 125px;
    padding: .5em 1em 1em 1em;
    border-radius: 50%;
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top h1 {
    margin: 0;
    font-family: "mc";
    margin-top: .5em;
}

.contain .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.contain .box {
    background-color: rgb(0, 0, 0);
    flex: 0 20%;
    align-items: center;
    border-radius: 10px;
    margin: 0 1em
}

.contain .box > .content {                
    display: flex;
    flex-direction: column;
    padding: 1em;
    min-height: 175px;
    position: relative;
}

.contain .img-wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contain a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    transition: ease-in-out .1s;
}


.contain .img-wrap > img {
    height: 125px;
    width: 125px;
    padding: .5em 1em 1em 1em;
    border-radius: 50%;
    margin: 0 auto;
}

.contain a#button {
    background-color: #111111;
    color: #ffffff;
    border: none;
    font-size: 15px;
    width: 60px;
    margin: 0 auto;
    border-radius: 14px;
    padding: 8px 10px;
    font-family: "mc";
    user-select: none;
    transition: .1s ease-in-out;
    line-height: 1;
    font-weight: 600;
}

.socials {
    margin: 2em 0 1em 0;
}

.socials a {
    width: 30px;
}

.socials a img {
    height: 30px;
    width: 30px;
    transition: .1s ease-in-out;
    margin: 0 .5em;
}

.socials a img:hover {
    transform: scale(1.1);
}                   

@media (max-width: 1000px) {

    .contain .img-wrap {
        display: flex;
        flex-direction: column;
    }

        .contain .img-wrap img {
            margin: 0 auto;
        }

        .contain .img-wrap button {
            width: 100px;
            margin: 0 auto;
        }

    .contain .box > .content {
        flex-direction: column;
    }

        .contain .box p {
            padding-right: 0px;
        }

}

@media (max-width: 400px) {

    .contain .row {
        flex-direction: column;
        margin-bottom: 0;
        width: 90%;
    }

    .contain .box {
        margin: 0;
        margin-bottom: 2em;
        align-self: baseline;
        width: 100%;
    }

        .contain p {
            height: auto;
            max-height: 125px;
        }

}
